body {
	background-color:black;
}

#box {
	background-color:#191919;
	width:400px;
	height:650px;
	border-radius:2px;
	border:16px solid black;
	
}

#box h4{
	color:white;
	font-size:25px;
}

#box p {
	color:white;
}

img {
	width:100px;
	height:100px;
}


h5 {
	color:#fef65b;
	font-size:15px;


.desc {
	font-size:10px;
}

