#nav {
	display: flex;
}

#features {
	margin-left: 750px;
}

#pricing, #contact, #login {
	margin-left: 40px;
}

#login, #contactbtn, #submit {
	background-color: red;
	color: white;
	width: 130px;
	height: 40px;
	margin-top: 5px;
	border-radius: 10px;
	border-color: red;
	box-shadow: 0 0 15px 1px #aaaaaa;
	cursor: pointer;
}

#container, #container2 {
	display: flex;
	padding-left: 100px;
}

#ontheleft h1{
	font-size: 60px;
}

p {
	font-size: 20px;
}

#chrome, #firefox {
	width: 120px;
	height: 35px;
	border-radius: 5px;
	margin-left: 10px;
    margin-top: 10px;
	cursor: pointer;
}

#chrome, #info, .addinstall, #info1 {
	background-color: #0000cc;
	color: white;
	border-color: #0000cc;
	box-shadow: 0 0 2px 1px #0000ff;
}

#firefox {
	background-color: #eeeeee;
	color: black;
	border-color: #eeeeee;
	box-shadow: 0 0 2px 1px #dddddd;
}

#ontheright, #ontheright1 {
	margin-left: 50px;
}

#container1 {
	text-align: center;
}

#container1 h3, #ontheright1 h3 {
	font-size: 40px;
}

#container1 div {
	display: flex;
	gap: 30px;
}

#simple, #speedy, #easy {
	cursor: pointer;
}

hr {
	width: 90%;
}

#simple {
	border-bottom: 4px solid red;
	margin-left: 380px;
}

#speedy, #easy {
	margin-left: 100px;
}

#info, #info1 {
	width: 100px;
	height: 40px;
	border-radius: 5px;
}

.addinstall {
	width: 170px;
	height: 40px;
	border-radius: 5px;
}

#container31 {
	display: flex;
	margin-left: 90px;
}

#container31 div {
	border: 1px solid black;
	padding: 10px;
	margin-left: 90px;
	text-align: center;
}

#q1, #q2, #q3, #q4 {
	width:400px;
	height: 30px;
	font-size: 20px;
	background-color: white;
	border: none;
	text-align: left;
	cursor: pointer;
}

#container4 {
	margin-left: auto;
	margin-right: auto;
}
#container4 hr {
	width: 40%;
}

#container5 {
	background-color: #0000cc;
	color: white;
}

#container5 h4 {
	letter-spacing: 3px;
}

#container51 {
	display: flex;
	justify-content: center;
}
#container5 input {
	width: 200px;
	height: 40px;
	font-size: 15px;
	border-radius: 5px;
}

#container51 div {
	margin-left: 50px;
}

#container6 {
   background-color: #003366;
   color: white;
   padding: 20px;
   display: flex;
   gap: 20px;
   font-size: 15px;
}

#twitter, #facebook{
	margin-left: 700px;
	width: 50px;
	height: 50px;
}

#facebook {
	margin-left: 50px;
}

button {
	cursor: pointer;
}

#a1, #a2, #a3, #a4 {
	display: none;
	text-align: left;
	margin-left: 500px;
}

#a1 hr, #a2 hr, #a3 hr, #a4 hr {
	margin-left: 50px;
}

#q1:hover, #q2:hover, #q3:hover, #q4:hover {
	color: red;
}

#error {
	display: none;
}

#submit {
	width: 90px;
	margin-right: 100px;
	box-shadow: none;
	background-color: #0000cc;
	border: none;
	font-size: 18px;
}

#login:hover {
	background-color: #ffffff;
	color: red;
	box-shadow: none;
}

#features, #pricing, #contact {
	cursor: pointer;
}

#features:hover, #pricing:hover, #contact:hover {
	color: red;
}

#simple:hover, #speedy:hover, #easy:hover {
    color: red;
}
